<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011580433130-0ehphd173lbga8v3jlaf1vqne3jbv0g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011580433130-0ehphd173lbga8v3jlaf1vqne3jbv0g6</string>
	<key>API_KEY</key>
	<string>AIzaSyA8EroTV9cIcICGV1WACHjjMa25sdcA9MU</string>
	<key>GCM_SENDER_ID</key>
	<string>1011580433130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buen.smartfarm</string>
	<key>PROJECT_ID</key>
	<string>smartfarmkits</string>
	<key>STORAGE_BUCKET</key>
	<string>smartfarmkits.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011580433130:ios:b1cd569248bc93574a1d93</string>
	<key>DATABASE_URL</key>
	<string>https://smartfarmkits-default-rtdb.firebaseio.com</string>
</dict>
</plist>